# backend
Django==2.2.10
psycopg2-binary==2.8.4
djangorestframework==3.10.3

# tests
pytest==5.3.1
pytest-cov==2.8.1
pytest-django==3.7.0
pytest-xdist==1.30.0
model-mommy==2.0.0
Faker==2.0.4

# ES
django-elasticsearch-dsl==7.1.0
